@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

.c-task {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__picture {
    max-width: 100%;
    object-fit: cover;
    max-height: 200px;
    transition: 0.3s all ease;
    border: 1px solid $lightGrey;
    
    & + .c-task__title {
      border-top: none;
    }
  }

  &__title {
    border: 1px solid $lightGrey;
    padding: 15px;
    font-size: 1.3rem;
    line-height: 1.3;
    display: inline-block;
    transition: 0.3s all ease;
  }

  &:hover {
    cursor: pointer;
    color: $skyBlue;

    .c-task__picture {
      opacity: 0.8;
    }
  }
}
