@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

.c-task {
  background-color: white;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  padding: 15px;
  text-align: left;
  

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.3rem;
    line-height: 1.3;
    cursor: pointer;
    transition: 0.1s all ease;
    display: inline-block;

    &:hover {
      color: $skyBlue;
    }
  }
}
