/**
  * Loader component
  */

.loader-wrap {
  width: 100%;
  height: calc(100% - 60px);
}

.c-loader {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);

  border: 12px solid rgba(0, 0, 0, 0.1);
  border-left-color: $skyBlue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: donut-spin 0.7s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
