/**
 * Button component
 */

.c-button {
  --bg-color: #{$darkBlue};
  --bg-hover-color: #{$blue};

  padding: 10px 40px;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-color);
  transition: 0.2s all ease;

  &:hover {
    background-color: var(--bg-hover-color);
  }

  &--secondary {
    --bg-color: #{$darkGreen};
    --bg-hover-color: #{$green};
  }
}
