/**
 * Button component
 */

.c-button {
  --btn-bg-color: #{$skyBlue};
  --btn-bg-hover-color: #{rgba($skyBlue, 0.8)};
  --btn-padding: 10px 20px;
  --btn-font-size: 1.6rem;

  padding: var(--btn-padding);
  color: white;
  font-weight: 700;
  font-size: var(--btn-font-size);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: var(--btn-bg-color);
  transition: 0.2s all ease;

  &:hover {
    background-color: var(--btn-bg-hover-color);
  }

  /**
  * Modifiers
  */

  &--small {
    --btn-padding: 7px 15px;
    --btn-font-size: 1.4rem;
  }

  &--secondary {
    --btn-bg-color: #{$pink};
    --btn-bg-hover-color: #{rgba($pink, 0.8)};
  }

  &--loading {
    pointer-events: none;
    cursor: default;
    outline: none;
  }

  /**
  * Icons
  */

  &__icon {
    margin-right: 10px;
  }

  &__load-icon {
    margin-right: 10px;
    animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
