@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

/**
  * textarea component
  */

.c-textarea {
  --border-color: #{$lightGrey};

  &__field {
    width: 100%;
    border: 1px solid var(--border-color);
    min-height: 100px;
    padding: 15px;

    &::placeholder {
      opacity: 0.8;
    }

    &--no-resize {
      resize: none;
    }

    &--error {
      --border-color: #{$orange};
    }
  }

  &__label {
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
  }
}
