/**
  * Taskboard page
  */

.taskboard {
  --taskboard-padding: 30px 15px;

  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  // @include mediaTablet {
  //   padding: 30px;
  // }

  &__table {
    position: relative;
    flex-grow: 1;

    &__scroll-wrap {
      padding: var(--taskboard-padding);

      @include mediaTablet {
        --taskboard-padding: 30px;

        user-select: none;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
