@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

/**
  * Taskboard page
  */

.taskboard {
  --taskboard-padding: 30px 15px;

  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__table {
    position: relative;
    flex-grow: 1;

    &__scroll-wrap {
      padding: var(--taskboard-padding);

      @include mediaTablet {
        --taskboard-padding: 30px;

        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        margin: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba($lightGrey, 0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($blue, 0.9);
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 3px rgba($darkBlue, 0.8);
        cursor: pointer;
      }
    }
  }
}
