/**
  * Header component
  */

.c-header {
  --bg-header-color: white;
  --logo-size: 3.2rem;
  --header-padding: 1.5rem;
  --header-grid-template: 1fr 1fr;

  width: 100%;
  height: 60px;
  background-color: var(--bg-header-color);
  box-shadow: 10px -3px 10px rgba(133, 133, 133, 0.2);
  z-index: 1;

  @include mediaTablet {
    --header-padding: 1.5rem 3rem;
  }

  /**
  * header center wrap
  */

  &__wrap {
    display: grid;
    grid-template-columns: var(--header-grid-template);
    max-width: 1480px;
    margin: 0 auto;
    padding: var(--header-padding);

    @include mediaDesktop {
      --header-grid-template: 1fr 1fr 1fr;
    }
  }

  /**
  * Trollelo logo
  */

  &__logo {
    font-size: var(--logo-size);
    color: $skyBlue;
    font-family: $pacifico;

    @include mediaDesktop {
      text-align: center;
      grid-column: 2 / span 1;
    }
  }

  /**
  * Header actions section
  */

  &__actions {
    text-align: right;

    @include mediaDesktop {
      grid-column: 3 / span 1;
    }
  }
}
