.c-header {
  --bg-header-color: white;
  --logo-size: 3.2rem;
  --header-padding: 1.5rem;

  width: 100%;
  height: 6rem;
  background-color: var(--bg-header-color);
  box-shadow: 10px -3px 10px rgba(133, 133, 133, 0.2);

  @include mediaTablet {
    --header-padding: 1.5rem 3rem;
  }

  &__wrap {
    display: flex;
    max-width: 1480px;
    margin: 0 auto;
    padding: var(--header-padding);
  }

  &__logo {
    font-size: var(--logo-size);
    color: $skyBlue;
    font-family: $pacifico;

    @include mediaTablet {
      margin-left: auto;
    }
  }

}
