/**
 * Variables
 */

/**
* colors
*/

$grey: #ccc;
$darkGrey: #333;

$blue: #5495de;
$darkBlue: #376fad;

$green: #31C192;
$darkGreen: #009990;

$orange: #DE7546;

/**
* Breakpoints
*/

$breakTablet: 721px;
$breakDesktop: 1024px;
$breakLarge: 1280px;
