/**
 * Variables
 */

/**
* colors
*/
$grey: #ccc;
$darkGrey: #333;

$blue: #5495de;
$skyBlue: #4680fe;
$darkBlue: #376fad;

$yellow: #feb64d;
$orange: #de7546;
$pink: #fb617f;

/**
* colors
*/

$pacificoFont: "Pacifico", cursive;

/**
* Breakpoints
*/

$breakTablet: 721px;
$breakDesktop: 1024px;
$breakLarge: 1280px;
