@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

/**
  * Dashboard Page
  */

.dashboard {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;

  /**
  * boards table
  */

  &__table {
    --dashboard-columns: repeat(2, 1fr);
    --dashboard-padding: 30px 15px;

    display: grid;
    grid-gap: 15px;
    grid-template-columns: var(--dashboard-columns);
    margin: 0 auto;
    padding: var(--dashboard-padding);

    @include mediaTablet {
      --dashboard-columns: repeat(3, 1fr);
      --dashboard-padding: 30px;
    }
    @include mediaDesktop {
      --dashboard-columns: repeat(4, 1fr);
    }
    @include mediaLarge {
      --dashboard-columns: repeat(5, 1fr);
    }
  }
}
