/**
 * Input text component
 */

.c-input-text {
  --border-color: #{$grey};

  &__label {
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
  }

  &__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 5px 0;
    outline: 0px 0px 1px 0px;

    &::placeholder {
      opacity: 0.8;
      font-style: italic;
    }
  }

  /* error state */

  &--error {
    --border-color: red;
  }
}
