/**
 * Input text component
 */

.c-input-text {
  --border-color: #{$lightGrey};

  &__label {
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
  }

  &__field {
    display: flex;

    input {
      flex: 1;
      width: 100%;
      border: 1px solid var(--border-color);
      padding: 10px;
      outline: 0px 0px 1px 0px;

      &::placeholder {
        opacity: 0.8;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    width: 40px;
    color: $grey;
  }

  /* error state */

  &--error {
    --border-color: #{$orange};
  }
}
