/**
 * Helper classes
*/

.bold {
  font-weight: 700;
}

/* Paddings & margins */

$positions: ("", "-top", "-right", "-bottom", "-left");

@each $pos in $positions {
  @for $i from 1 through 3 {
    .padding#{$pos}-#{$i * 10} {
      padding#{$pos}: #{$i * 10}px;
    }
  }
}

@each $pos in $positions {
  @for $i from 1 through 3 {
    .margin#{$pos}-#{$i * 10} {
      margin#{$pos}: #{$i * 10}px;
    }
  }
}

/* colors */


.color-blue {
  color: $blue;
}
.color-dark-blue {
  color: $darkBlue;
}
.color-green {
  color: $green;
}
.color-dark-green {
  color: $darkGreen;
}
.color-orange {
  color: $orange;
}
