/**
 * Base styles
 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: $darkGrey;
}

input,
button,
select {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: $darkGrey;
}

a,
.link {
  // color: var(--darkGreen);

  &:hover {
    // color: var(--lightGreen);
  }
}
