@import "../../styles/settings/variables";
@import "../../styles/settings/mixins";

/**
  * Tasklist component
  */

.c-tasklist {
  --taskList-width: 100%;
  --taskList-padding: 30px 15px 15px 15px;

  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
  width: var(--taskList-width);
  position: relative;

  background-color: white;
  border: 1px solid $lightGrey;
  border-radius: 2px;
  padding: var(--taskList-padding);
  margin-bottom: 15px;
  vertical-align: top;
  white-space: initial;

  @include mediaTablet {
    --taskList-width: 300px;
    --taskList-padding: 30px 10px 15px 15px;

    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  /**
  * Header
  */

  &__header {
    @include mediaTablet {
      padding-right: 10px;
    }

    &__title {
      font-size: 1.6rem;
      line-height: normal;
      font-weight: 700;
      padding-bottom: 20px;
      text-align: left;
    }

    &__remove {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      position: absolute;

      top: -8px;
      right: -8px;
      background-color: $grey;
      color: white;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s all ease;

      &:hover {
        background-color: $pink;
      }
    }
  }

  &__tasks {
    flex: 1;
    overflow-y: auto;

    @include mediaTablet {
      padding-right: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($lightGrey, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($lightGrey, 0.9);
      border-radius: 10px;
    }
  }

  /**
  * Footer
  */

  &__footer {
    margin-top: 15px;
    padding-top: 15px;
    margin-right: 10px;
    border-top: 1px dashed $lightGrey;

    &__add-task {
      font-weight: 700;
      font-size: 1.4rem;
      text-align: center;
      color: $grey;
      cursor: pointer;
      transition: 0.3s all ease;

      &:hover {
        color: $pink;
      }
    }
  }
}
